.header{
	width: 100%;
	height: 100vh;
	background-image: url(../../images/33.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.header_menu{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	padding: 0 5%;


}

.header_link{
	color: #FFE4E1;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	/*font-style: url('https://fonts.googleapis.com/css?family=Kurale')*/

}

.header_texts{
	position: relative;
	height: calc(100% - 100px);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0 5%;
	color: #FFE4E1;
	font-weight: 700px;

}

.header_title{
	font-size: 90px;

}

.header_subtitle{
	font-size: 70px;
}


.search > img{
	width: 23px;
}


.search{
	position: relative;
	height: 25%;
	align-items: center;
	
}

.search_input{
	position: absolute;
	right: 0;
	top: 150%;
	padding: 13px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	font-size: 13px;
	border: none;
	outline: 1px solid #fff;
	outline-offset: 2px;
	display: none;
}

.search_input::placeholder{
	color: #eee;
}

.search:hover .search_input{
	display: block;
}

.search_input:focus{
	display: block;
}

